.vehicle-container {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
  gap: 10px 10px;
  height: 80%;
  width: 100%;
}

.vehicle-data-heading{
  text-align: center;

}

