.main-container{
    display: flex;
    min-height:90vh ;
}
.video-frame-container{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.vehicle-data-container{
    width: 40%;
    padding:3.5rem 2rem;
}
.toast-custom {
    font-size: 16px;
}