.main-container {
  display: flex;
  min-height: 90vh;
}
.video-frame-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.vehicle-data-container {
  width: 40%;
  padding: 3.5rem 2rem;
}
.toast-custom {
  font-size: 1rem;
}
@media (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    padding:0 10vw;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: brown; */
  }
  .video-frame-container {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
  }
  .vehicle-data-container {
    width: 100%;
    /* background-color: aqua; */
    padding:3vh 6vw;
  }
}
