.card-content {
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}
.icon {
  font-size: 5rem;
  color: blue;
}
.key {
  font-size: 1rem;
}
.value {
  font-size: 2rem;
}
.icon-container {
  margin: 1rem;
}
