.navbar-container {
  padding: 1rem;
  min-height: 10vh;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  vertical-align: middle;
}
.yamaha-logo {
  width: 6rem;
}
.navbar-text {
  margin:0 2rem;
}
.connected {
  color: green;
  font-weight: bold;
}

.disconnected {
  color: #ED1D24;
  font-weight: bold;
}
